/* In this file you can add your custom styles. */

/*Media queries*/
@media only screen and (min-width: 768px) {
  #post-for-mobile{
  display: none;
  }
}
@media only screen and (max-width: 768px){
  #post-for-desktop{
  display: none;
  }
}
body{
  background-color: gray;
  /* color: white; */
}
.like-heart{
  font-size: 250%;
}
.like-color{
  color:green;
}
.dislike-color{
  color:gray;
}

.delete-button{
  width:50%;
  margin-top: 3%;
}
.edit-button{
  width:50%;
}

.posts{
  margin-top: 10%;
  margin-bottom: 10%;
}

.form-group{
  margin-left: 15%;
  margin-right:15%;
}

.navbar-nav{
  font-size: 150% ;
}
.navbar-brand{
  display: flex;
  justify-content: center;
  width: 80%;
  font-size: 150%;
  padding-left: 20%;

}
.edit-form{
  margin-bottom: 10%;
}

/* .navbar{
  position: fixed;
  top: 0;
} */
